---
layout: single
permalink: /
---
<!-- header:   image: /assets/images/header.jpg -->

      <img src="/assets/images/home.jpg" alt="Welcome!"> <br />

<br />

<p align="justify">Welcome to my website! <br />
I’m currently a postdoc at the  <a href="http://cerco.cnrs.fr/">Brain and Cognition Research Center (CerCo)</a> in Toulouse (France), under the supervision of Rufin VanRullen and Thomas Serre at Brown University. Previously, I received my PhD at the Université Catholique de Louvain (Belgium), under the supervision of Alexandre Zénon and Etienne Olivier. My research interests revolve around Cognitive Neuroscience, using both Experimental and Computational approaches. 
<br />
