---
layout: single
permalink: /
---
<!-- header:   image: /assets/images/header.jpg -->

      <img src="/assets/images/home.jpg" alt="Welcome!"> <br />

<br />

<p align="justify">Welcome to my website! <br />
I’m currently a CNRS researcher at the  <a href="http://cerco.cnrs.fr/">Brain and Cognition Research Center (CerCo)</a> in Toulouse (France). <br> Before that, I was a postdoc under the supervision of Rufin VanRullen (CerCo) and Thomas Serre (Brown University). <br> Before that, I received my PhD at the Université Catholique de Louvain (Belgium), under the supervision of Alexandre Zénon and Etienne Olivier. <br> Before that, I completed a bachelor and master degree in Biomedical Engineering in Italy (Politecnico di Milano). <br> Currently, my research interests revolve around Cognitive Neuroscience, using both Experimental and Computational approaches. 
<br />
